.form {
  max-width: 385px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__input {
  display: block;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  margin: 8px 0 32px;
  border: 1px solid #838383;
  border-radius: 4px;
  background-color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  transition: border-color 0.3s ease-out, box-shadow 0.3s ease-out;
}

.form__input::placeholder {
  color: #838383;
  font-style: italic;
}

.form__input:focus {
  outline: none;
  border-color: #1878dc;
  box-shadow: 0 0 4px rgba(24, 120, 220, 0.4);
}

.form__button {
  border-radius: 4px;
  width: 100%;
  border: none;
  padding: 20px 0;
  margin-bottom: 32px;
  background-color: #1878dc;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  transition: background-color 1s ease-out, opacity 1s ease-out;
  opacity: 1;
}

.form__button:hover {
  background-color: #3f96f3;
  opacity: 0.7;
}

.form__checkbox {
  accent-color: #1878dc;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-out, box-shadow 0.3s ease-out;
}

.form__checkbox:hover {
  transform: scale(1.1);
  box-shadow: 0 0 4px rgba(47, 113, 229, 0.6);
}

.form__checkbox:checked {
  box-shadow: 0 0 6px rgba(47, 113, 229, 0.6);
}

.form__label_type_checkbox {
  display: flex;
  gap: 12px;
  justify-content: center;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  cursor: pointer;
  transition: color 0.3s ease-out;
}

.form__label_type_checkbox:hover {
  color: #1878dc;
}
