.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  padding: 30px 80px 40px;
  background: center / cover no-repeat #fff url(../images/background_header.svg);
  position: relative;
  display: flex;
  flex-direction: column;
  height: 800px;
}

.header__title {
  margin: 183px 0 0;
  max-width: 729px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  color: #3f96f3;
}

.header__description {
  margin: 28px 0 0;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__paragraph {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: static;
  left: auto;
}

.nav__links {
  display: flex;
  text-decoration: none;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.nav__link:hover {
  opacity: 0.7;
}

.recipes {
  color: #fff;
  background-color: #0a2750;
  padding: 100px 80px 215px;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.recipes__title {
  margin: 0 0 24px;
  max-width: 580px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 0 0 80px;
  max-width: 438px;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 100px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.recipes__iframe {
  width: 560px;
  height: 315px;
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.reservation {
  padding: 100px 0 120px;
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #000000;
  font-family: "Noto Serif", "Times New Roman", serif;
}

.reservation__title {
  margin: 0 0 80px;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #000000;
}

.reservation__form {
  margin: 0 auto;
}

.reservation__input {
  background-color: #fff;
}

.form {
  max-width: 385px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__input {
  display: block;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  margin: 8px 0 32px;
  border: 1px solid #838383;
  border-radius: 4px;
  background-color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  transition: border-color 0.3s ease-out, box-shadow 0.3s ease-out;
}

.form__input::placeholder {
  color: #838383;
  font-style: italic;
}

.form__input:focus {
  outline: none;
  border-color: #1878dc;
  box-shadow: 0 0 4px rgba(24, 120, 220, 0.4);
}

.form__button {
  border-radius: 4px;
  width: 100%;
  border: none;
  padding: 20px 0;
  margin-bottom: 32px;
  background-color: #1878dc;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  transition: background-color 0.3s ease-out, opacity 0.3s ease-out;
}

.form__button:hover {
  background-color: #3f96f3;
  opacity: 0.8;
}

.form__checkbox {
  accent-color: #1878dc;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-out, box-shadow 0.3s ease-out;
}

.form__checkbox:hover {
  transform: scale(1.1);
  box-shadow: 0 0 4px rgba(47, 113, 229, 0.6);
}

.form__checkbox:checked {
  box-shadow: 0 0 6px rgba(47, 113, 229, 0.6);
}

.form__label_type_checkbox {
  display: flex;
  gap: 12px;
  justify-content: center;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  cursor: pointer;
  transition: color 0.3s ease-out;
}

.form__label_type_checkbox:hover {
  color: #1878dc;
}
